<html lang="en">

<head>
    <title>To Do List Item</title>
</head>


    <body>
        <h1>
            <a href="{% url 'app_index:app_index' %}"> Index Page</a>
        </h1>
    </div>
        <h2>
        <a href="{% url 'app_todo:app_todo' %}"> To Do Lists</a>
        </h2>
    </div>

    <h3>Edit current list: {{ list_name }}</h3>
    </div>
    
    <ul>
        {% for item in object_list %}
        <li>
            <div>
                <div role="button" onclick="location.href='{% url "app_todo:list" item.id %}'"> 
                {{ item.item_name }}

                </div>
            </div>
        </li>

        {% empty %}
        <h4>You currently do not have any items to do for this list.</h4>
        {% endfor %}

    </ul>
    <p>
        <input value="Add a new item" type="button"
        onclick="location.href='{% url "app_todo:item_add" list_name.id %}'"/>
    </p>
    </body>
</html>
