<html lang="en">

<head>
    <title>To Do List Item</title>
</head>


    <body>
        <h1>
            <a href="{% url 'app_index:app_index' %}"> Index Page</a>
        </h1>
    </div>
        <h2>
        <a href="{% url 'app_todo:app_todo' %}"> To Do Lists</a>
        </h2>
    </div>

    <h3>Delete To-Do List</h3>
    </div>

    <p>
        Are you sure you want to delete this list?
    </p>
    <p>
        {{object.list_name}}
    </p>

    <form method="POST">
        {% csrf_token %}
        <input value="Delete" type="submit">
        <input value="Cancel" type="button" onclick="location.href='{% url "app_todo:app_todo" %}';"/>
    </form>
</body>