{% extends "header.html" %}

{% block title %}
    <h2><a href="{% url 'app_todo:app_todo' %}"> To Do List</a></h2>
{% endblock %}

{% block content %}

    <h3>Delete To-Do List</h3>
    </div>

    <p>
        Are you sure you want to delete this list?
    </p>
    <p>
        {{object.list_name}}
    </p>

    <form method="POST">
        {% csrf_token %}
        <input value="Delete" type="submit">
        <input value="Cancel" type="button" onclick="location.href='{% url "app_todo:app_todo" %}';"/>
    </form>

{% endblock %}