{% extends "header.html" %}

{% block title %}
    <h2><a href="{% url 'app_todo:app_todo' %}"> To Do List</a></h2>
{% endblock %}

{% block content %}

    <h3>{{ list_name }}</h3>
    <div>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input value="Save" type="submit">
                <input value="Cancel" type="button" onclick="location.href='{% url "app_todo:app_todo" %}';">
            </form>
        </div>
    </div>

{% endblock %}