{% extends "header.html" %}

{% block title %}
    <h2><a href="{% url 'app_todo:app_todo' %}"> To Do List</a></h2>
{% endblock %}

{% block content %}

    <h3>Edit current list: {{ list_name }}</h3>

    <ul>
        {% for item in object_list %}
        <li>
                <div role="button" onclick="location.href='{% url "app_todo:item_update" list_name.id item.id %}'"> 
                {{ item.item_name }}
                </div>
        </li>

        {% empty %}
        <h4>You currently do not have any items to do for this list.</h4>
        {% endfor %}
    </ul>

    <p>
        <input value="Add a new item"
        type="button"
        onclick="location.href='{% url "app_todo:item_add" list_name.id %}';"/>

        <input value="Delete List" 
        type="button"
        onclick="location.href='{% url "app_todo:list_delete" list_name.id %}';"/>
    </p>

{% endblock %}